[defaults]
host_key_checking = False
stdout_callback = yaml
callback_whitelist = timer,profile_tasks
log_path = /Users/rafaeldeoliveira/projects/DurvalCRM/durvalcrm-deployment/environments/dev/Ansible/ansible-playbook.log
verbosity = 2

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True